.card {
  width: 20%;
  margin: 0.5rem;
  background: #ed6f2e;
  color: #fff;
  min-height: 230px;
  min-width: 200px;
  padding: 1rem;
  font-family: serif;
  a {
    color: #fff;
    text-decoration: none;
  }
}
