.blockCard {
  padding: 20px 20px;
  border-bottom: 1px solid #f1f1f1;
  &:last-child {
    border: 0;
  }
  a {
    text-decoration: none;
    display: flex;
    margin: 5px 0;
    span {
      flex: 6;
    }
    i {
      flex: 1;
      text-align: right;
    }
    h3 {
      margin: 0;
      font-size: 1.3rem;
    }
  }

  section {
    display: flex;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.7rem;
    color: #aaa;
    span {
      margin-right: 10px;
    }
  }
}
